.container {
  padding: 10px 0 10px 0;
}

body {
  color: #000000;
  font-family: 'Inconsolata', monospace;

}

@media (max-width: 576px) {
  container {
    padding: 0 10px 0 10px;
  }

  iframe {
    padding: 0 0 0 0 !important;
  }

}

h1 {
  color: #000000;
  text-transform: lowercase;
  font-size: 2rem;
}

h3 {
  color: #000000;
  font-size: 2rem;
}

@media (min-width: 576px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  color: #000000;
  font-size: 4rem;
}


header {
  background-color: #F2F9FC;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0px 0;
}

header .container {
  padding: 20px;
}

header img {
  width: 75%;
}


@media (min-width: 576px) {
  header {
    padding: 20px 0 0;
  }
}

@media (min-width: 576px) {
  header img {
    padding: 20px 0 0;
    width: 40%;
  }
}

.first-section {
  background-color: #FFF;
}

.first-section h2 {
  background-color: #FFFDFD;
}

.first-section img {
  margin-bottom: 35px;
  width: 300px;
}

@media (min-width: 768px) {
  .first-section img {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .first-section img {
    margin-bottom: 0;
  }
}

.highlight {
    background-color: #fa4768;
    color: #FFF;
    text-transform: lower
    background-image: linear-gradient(to right, #fa4768 0%, #fa4768 100%);
    padding: 10px 10px;
}

.first-section li {
  margin-bottom: 8px;
}

.first-section ul {
  background-color: #F7F9FC;
  margin-top: 25px;
  padding: 30px 55px;
  border-radius: 8px;
}

.second-section p {
  color: #9DA2A6;
}

.navbar { padding-top: 0.01rem; padding-bottom: 0.01rem; }

.navbar-brand img {
  height: 46px;
  width: 46px;
  margin-right: 8px;
}

.navbar {
  background-color: #FAFBFC;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
  text-transform: lowercase;
}

.nav-item {
  margin: 10px 16px;
}

.second-section img {
  width: 300px;
  border-radius: 200px;
  top-margin: 25px;
  bottom-margin: 10px;
}

.third-section {
  background-color: #fff;
}


.third-section img {
  margin-top: 35px;
}

.third-section h3 {
  padding-bottom: 20px;
}

.third-section h4 {
  padding-bottom: 20px;
}

.third-section li {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .third-section img {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.section {
  padding: 60px 0 40px;
}

@media (min-width: 576px) {
  .section {
    padding: 20px 0 0 0;
  }
}

@media (max-width: 576px) {
  .section {
    padding: 20px 10px 0 10px;
  }


}



p {
  font-size: 1.2rem;
  padding: 5px 0 5px 0;
  text-align: justify;
  text-justify: inter-word;
}
